In [4]:
#importing pandas
import pandas as pd
#creating  list 
data=["Harry","Sam","Juliet","Robert","Max","coder"]
#creating pandas Series
df=pd.Series(data)
#printing Series
print(df)
df.dtypes

0     Harry
1       Sam
2    Juliet
3    Robert
4       Max
5     coder
dtype: object

dtype('O')

In [3]:
#importing pandas
import pandas as pd
#creating list
data=["Harry","Sam","Juliet","Robert","Max"]
#creating DatFrame from list
df=pd.DataFrame(data)
#printing DataFrame
print(df)
df.dtypes

        0
0   Harry
1     Sam
2  Juliet
3  Robert
4     Max

0    object
dtype: object

In [5]:
#importing pandas
import pandas as pd
data=["Harry","Sam","Juliet","Robert","Max"]
#creating series with index valuesapplying Index to Series
df=pd.Series(data,index=['a','b','c','d','e']) # 
#printing series
print(df)

a     Harry
b       Sam
c    Juliet
d    Robert
e       Max
dtype: object

In [6]:
#importing pandas
import pandas as pd
#creating list
data=["Harry","Sam","Juliet","Robert","Max"]
#creating DataFrame from list and give index values
df=pd.DataFrame(data,index=['a','b','c','d','e']) #Applying index to DataFrames
#printing DataFrame
print(df)

        0
a   Harry
b     Sam
c  Juliet
d  Robert
e     Max

In [8]:
#importing pandas
import pandas as pd
#creating dictionary
data={"English_Marks":[89,85,92,94,99],
"Maths_Marks":[78,82,91,67,89]}
#creating a Series from dictionary
df=pd.Series(data)
#printing Series
print(df)

English_Marks    [89, 85, 92, 94, 99]
Maths_Marks      [78, 82, 91, 67, 89]
dtype: object

In [9]:
#importing pandas
import pandas as pd
#creating dictionary
data={"English_Marks":[89,85,92,94,99],
"Maths_Marks":[78,82,91,67,89]}
#creating a Series from dictionary
df=pd.DataFrame(data)
#printing Series
print(df)

   English_Marks  Maths_Marks
0             89           78
1             85           82
2             92           91
3             94           67
4             99           89

In [10]:
#importing pandas
import pandas as pd
#creating dictionary
data={"English_Marks":[89,85,92,94,99],
"Maths_Marks":[78,82,91,67,89]}
#creating DataFrame from dictionary and pass index values as we required
df=pd.DataFrame(data, index=['a','b','c','d','e'])
#printing DataFrame
print(df)

   English_Marks  Maths_Marks
a             89           78
b             85           82
c             92           91
d             94           67
e             99           89

In [ ]:
#Read CSV
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-total-female-births.csv')
df=pd.Series(data['Date'])
print(type(df))
print(df.head(6))

In [ ]:
import pandas as pd
data1=pd.Series([1,4,2,7,8],index=['a','b','c', 'd','e'])
data2=pd.Series([3,6,1,0,8],index=['a','b','c', 'd','e'])
print("data1:\n", data1)
print()
print("data2:\n", data2)
print()
df=data1.add(data2)
print("data1+data2:\n",df)

In [13]:
import pandas as pd
data1=pd.Series([1,4,2,7,8],index=['a','b','c', 'd','e'])
data2=pd.Series([3,6,1,0,8],index=['a','b','c', 'd','e'])
print("data1:\n", data1)
print()
print("data2:\n", data2)
print()
df=data1.sub(data2)
print("data1+data2:\n",df)

data1:
 a    1
b    4
c    2
d    7
e    8
dtype: int64

data2:
 a    3
b    6
c    1
d    0
e    8
dtype: int64

data1+data2:
 a   -2
b   -2
c    1
d    7
e    0
dtype: int64

In [ ]:
import pandas as pd
df = pd.read_csv(r"https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-total-female-births.csv")
df
print(type(df))